@import "tailwindcss";

@theme {
  --color-charcoal: #25282B;
  --color-yellow: #FDC435;
  --color-gray: #828282;
  --font-comfortaa: 'Comfortaa', cursive;
  --font-raleway: 'Raleway', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-playfair: 'Playfair Display Variable', serif;
}